In [2]:
x = 10
print(x)

10

In [5]:
# ahmed
10

10

In [6]:
print(10)

10

In [ ]:
if (x>4)
{
    
    
    
}

In [9]:
print(10)
print(20)

10
20

In [ ]:
if :
    ff
    
    fff
    
    ff
    
    f

In [10]:
print(5)

5

In [12]:
print(5);print(10)

5
10

In [13]:
print(5)
print(10)

5
10

In [15]:
# ahmed
# m
# l

In [16]:
""" 
aaa

"""

' \naaa\n\n'

In [19]:
print(5, end="    ")
print(10)

5    10

In [22]:
print(5,10,20,30, end=" ")
print(100)

5 10 20 30 100

In [24]:
print(5,10,20, sep=' dd ')

5 dd 10 dd 20

In [28]:
print(5,10,20, sep=' r ', end='..')
print(50)

5 r 10 r 20..50

In [29]:
print(5)

5

In [30]:
print(10)

10

In [36]:
print(10,20,30, sep='/', end='*')
print(40, end='-')
print(50, end='&')
print(60, end='$')
print(70)

10/20/30*40-50&60$70

In [37]:
# comment 
# comment 1
#v 2
# 3

In [38]:
"""

"""

'\n\n'

In [39]:
x = 10
print(x)

10

In [40]:
1x = 10

SyntaxError: invalid syntax (<ipython-input-40-d6bc7cef26a6>, line 1)

In [41]:
$x = 10

SyntaxError: invalid syntax (<ipython-input-41-fee464756807>, line 1)

In [42]:
X = 20
x = 10

In [44]:
print(x)
print(X)
# case

10
20

In [47]:
x = 10, 20,30
print(x)

(10, 20, 30)

In [48]:
x = y = z = 10

In [49]:
print(x,y,z)

10 10 10

In [52]:
x,y,z = 10,20,30
print(x,y,z)

10 20 30

In [55]:
x1 = 10
print(x1)

10

In [58]:
xY = 10

In [59]:
_x = 10

In [60]:
print(_x)

10

In [65]:
y = 10

In [2]:
x = 10
print(type(x))

<class 'int'>

In [4]:
x = "ahmed"
print(x)

ahmed

In [10]:
x = -10000000000
print(x)
print(type(x))

-10000000000
<class 'int'>

In [20]:
x = 10.
print(type(x))
print(x)

<class 'float'>
10.0

In [33]:
x = 10.j +5j+6
print(type(x))
print(x)

<class 'complex'>
(6+15j)

In [34]:
x = 12539448876644
x

12539448876644

In [35]:
x = 10
float(x)

10.0

In [40]:
x = 10.
int(x)

10

In [43]:
y = 20j
float(y)

TypeError: can't convert complex to float

In [45]:
y = 30.5
complex(y)

(30.5+0j)

In [48]:
a = 'ahmed    ahmed    ahmed'
print(type(a))

<class 'str'>

In [55]:
a = 'ahmed'
b = "ahmed"
c = '''ahmed '''
d = """ahmed 

a
b
d
w
w
w

"""
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [56]:
print(a,b,c,d)

ahmed ahmed ahmed  ahmed

a
b
d
w
w
w

In [65]:
a = "NTI  Computer" # 0,1,2,3,4,5,6,7............ #       -5,-4,-3,-2,-1
print(a)

NTI  Computer

In [79]:
print(a[12])

r

In [67]:
print(len(a))

13

In [76]:
print(a[-14])

IndexError: string index out of range

In [84]:
print(a[-1])
print(a[len(a)-1])

r
r

In [ ]:
a[0:3]
a[from:to-1]

In [85]:
print(a[0:2])

NT

In [86]:
print(a[0:1])

N

In [87]:
print(a[0:0])

In [92]:
print(a[2:20])

I  Computer

In [93]:
print(a[2:0])

In [ ]:
NTI Computer

In [95]:
print(a[-1:-4])

In [96]:
print(a[-4:-1])

ute

In [ ]:
NTI Computer 
0 1 2 3 4 5 6 7 8 9 10 11 12
                   -4 -3    -2  -1

In [97]:
print(a[0:-4])

NTI  Comp

In [98]:
print(a[-3:5])

In [100]:
print(a[9:12])

ute

In [101]:
print(a[:])

NTI  Computer

In [102]:
print(a[:5])

NTI

In [103]:
print(a[1:])

TI  Computer

In [104]:
a[0] = "aa"
print(a)

TypeError: 'str' object does not support item assignment

In [105]:
print(a.upper())

NTI  COMPUTER

In [106]:
print(a.lower())

nti  computer

In [112]:
a = "             NTI       y "
print(a.strip())

NTI       y

In [113]:
print(a.replace('N', "nn"))

             nnTI       y

In [117]:
a = 'NTI, ITI, '
print(a.split(','))

['NTI', ' ITI', ' ']

In [125]:
a = a.capitalize()

In [126]:
print(a.count('i'))

3

In [127]:
print(a.endswith('y'))

False

In [129]:
print(a.startswith('N'))

True

In [134]:
print(a.find('i'))

2

In [135]:
print(a.isdecimal())

False

In [136]:
a.isdigit()

False

In [137]:
a.isupper()

False

In [138]:
a.islower()

False

In [139]:
a.isnumeric()

False

In [141]:
a = a.upper()
a

'NTI, ITI, '

In [142]:
a.isupper()

True

In [143]:
a.isdigit()

False

In [152]:
x1 = 10
x2 = 'mohmaed'
print(str(x1)+ " " +x2)

10 mohmaed

In [151]:
str(10)+ 'ahmed'

'10ahmed'

In [156]:
name = 'ahmed'
age = 10
class_N = 4 
x = " my name is {}, my age is {}, my class is {}"
print(x.format(age, class_N, name))

 my name is 10, my age is 4, my class is ahmed

In [169]:
x =  ' I\\\'m ahmed '
print(x)

 I\'m ahmed

In [168]:
x = "NTI"
x

' I\nm  '

In [170]:
10>5

True

In [171]:
5>10

False

In [172]:
bool(0)

False

In [179]:
bool(-1)

True

In [178]:
bool("ahmed")

True

In [180]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)
print(2%2)

4
0
4
1.0
0

In [182]:
print(2**3)

8

In [184]:
print(5//2)

2

In [185]:
print(2**2**3)

256

In [187]:
print(2**8)

256

In [188]:
x = 10

In [189]:
x = x+5

In [196]:
x   %= 5 # x = x-5
print(x)

0.0

In [200]:
3 <= 5

True

In [201]:
3==2

False

In [203]:
x  = 2

In [206]:
(2<3) or (4==4)

True

In [208]:
not(2==2)

False

In [209]:
2 ==2

True

In [210]:
2 is 2

True

In [212]:
2 is not 2.

True

In [215]:
a= 'ahmed'
'A' not in a

True

In [216]:
2 and 2

2

In [217]:
2 and 3

3

In [218]:
2 or 3

2

In [219]:
10 and 1

1

In [220]:
10 or 1

10

In [226]:
2& 5

0

In [ ]:
 64 32 16 8 4 2 1
          0   1

In [227]:
(2==2) and (2>1)

True

In [228]:
10 and 1

1

In [229]:
10 or 1

10

In [230]:
0 and 1

0

In [231]:
1 and 0

0

In [232]:
1 and 2

2

In [233]:
1 and 1

1

In [234]:
1 or 0

1

In [235]:
0 or 1

1

In [236]:
2 or 1

2

In [ ]:
and or not logical 
| & ~

In [238]:
~5

-6

In [241]:
8 >> 2

2

In [243]:
8 << 3

64

In [244]:
print(2**3+4*2)

16

In [245]:
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [246]:
type(x)

list

In [247]:
x = [1,1.5,1.,"ahmed", 'a']
x

[1, 1.5, 1.0, 'ahmed', 'a']

In [248]:
x[0]

1

In [249]:
x[2]

1.0

In [250]:
x[3]

'ahmed'

In [251]:
x[5]

IndexError: list index out of range

In [252]:
x[-1]

'a'

In [253]:
x[-2]

'ahmed'

In [254]:
x[-6]

IndexError: list index out of range

In [255]:
x[:]

[1, 1.5, 1.0, 'ahmed', 'a']

In [256]:
x[0:]

[1, 1.5, 1.0, 'ahmed', 'a']

In [257]:
x[:6]

[1, 1.5, 1.0, 'ahmed', 'a']

In [258]:
x[0:2]

[1, 1.5]

In [259]:
x[2:4]

[1.0, 'ahmed']

In [260]:
x[0] = 'aaaa'
x

['aaaa', 1.5, 1.0, 'ahmed', 'a']

In [262]:
x[0:2] = 10,100

In [263]:
x

[10, 100, 1.0, 'ahmed', 'a']

In [264]:
x.append(1000)
x

[10, 100, 1.0, 'ahmed', 'a', 1000]

In [265]:
x.append('rrr')
x

[10, 100, 1.0, 'ahmed', 'a', 1000, 'rrr']

In [266]:
x.insert(2, 200)
x

[10, 100, 200, 1.0, 'ahmed', 'a', 1000, 'rrr']

In [267]:
len(x)

8

In [269]:
x.extend([10])
x

[10, 100, 200, 1.0, 'ahmed', 'a', 1000, 'rrr', 10]

In [270]:
x.append([10])
x

[10, 100, 200, 1.0, 'ahmed', 'a', 1000, 'rrr', 10, [10]]

In [271]:
e = [True, '10', 10.5, 20]
type(e)

list

In [272]:
r = e[0]
type(r)

bool

In [276]:
x[9][0]

10

In [277]:
x.append([10,20,5,9,8])
x

[10, 100, 200, 1.0, 'ahmed', 'a', 1000, 'rrr', 10, [10], [10, 20, 5, 9, 8]]

In [278]:
x[10]

[10, 20, 5, 9, 8]

In [280]:
x[10][2]

5

In [282]:
x.append([10,20,[1,2,3, ['a']]])
x

[10,
 100,
 200,
 1.0,
 'ahmed',
 'a',
 1000,
 'rrr',
 10,
 [10],
 [10, 20, 5, 9, 8],
 [10, 20, [1, 2, 3, ['a']]]]

In [285]:
x[11]

[10, 20, [1, 2, 3, ['a']]]

In [286]:
x[11][2]

[1, 2, 3, ['a']]

In [287]:
x[11][2][3]

['a']

In [288]:
type(x)

list

In [289]:
x.pop()

[10, 20, [1, 2, 3, ['a']]]

In [290]:
x

[10, 100, 200, 1.0, 'ahmed', 'a', 1000, 'rrr', 10, [10], [10, 20, 5, 9, 8]]

In [292]:
x.remove(10)

In [293]:
x

[100, 200, 1.0, 'ahmed', 'a', 1000, 'rrr', 10, [10], [10, 20, 5, 9, 8]]

In [294]:
del x[0]

In [295]:
x

[200, 1.0, 'ahmed', 'a', 1000, 'rrr', 10, [10], [10, 20, 5, 9, 8]]

In [296]:
x.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [297]:
x = [1,10,2,3,5,8]
x.sort()

In [298]:
x

[1, 2, 3, 5, 8, 10]

In [299]:
x.sort(reverse=True)
x

[10, 8, 5, 3, 2, 1]

In [300]:
y = []

In [302]:
y = x.copy()

In [303]:
y

[10, 8, 5, 3, 2, 1]

In [304]:
y = x
y

[10, 8, 5, 3, 2, 1]

In [305]:
y = x[:]
y

[10, 8, 5, 3, 2, 1]

In [306]:
y = list(x)

In [307]:
y

[10, 8, 5, 3, 2, 1]

In [308]:
z = x+y

In [309]:
z

[10, 8, 5, 3, 2, 1, 10, 8, 5, 3, 2, 1]

In [310]:
z.count(10)

2

In [312]:
z.index(10)

0

In [313]:
z.clear()

In [314]:
z

[]

In [315]:
del z

In [316]:
z

NameError: name 'z' is not defined

In [317]:
t = (1,2,3)
type(t)

tuple

In [318]:
t

(1, 2, 3)

In [319]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [320]:
t.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [321]:
t.count(1)

1

In [322]:
t.index(2)

1

In [323]:
len(t)

3

In [324]:
del x

In [325]:
del t

In [326]:
t

NameError: name 't' is not defined

In [327]:
t = (1,2,3)
t

(1, 2, 3)

In [328]:
t[0]

1

In [329]:
t[2]

3

In [330]:
t[0:1]

(1,)

In [331]:
t = 1

In [332]:
type(t)

int

In [333]:
t = (1)
type(t)

int

In [334]:
t = (1,)
type(t)

tuple

In [ ]:
d = []
d = ()

In [335]:
d = {'a':10}
d

{'a': 10}

In [336]:
d[0]

KeyError: 0

In [337]:
d['a']

10

In [339]:
d = {'a':10, 'r':'ahmed', 1:2}
d

{'a': 10, 'r': 'ahmed', 1: 2}

In [345]:
d['r']

'ahmed'

In [346]:
d.get('r')

'ahmed'

In [347]:
d.keys()

dict_keys(['a', 'r', 1])

In [348]:
d.values()

dict_values([10, 'ahmed', 2])

In [349]:
d.items()

dict_items([('a', 10), ('r', 'ahmed'), (1, 2)])

In [350]:
type(d)

dict

In [351]:
size = 5

arr = bytes(size)
print(arr)

b'\x00\x00\x00\x00\x00'

In [352]:
x = 10256846874654888999
x

10256846874654888999

In [353]:
type(x)

int

In [354]:
d['a']='M'
d

{'a': 'M', 'r': 'ahmed', 1: 2}

In [355]:
d['aa']='M'
d

{'a': 'M', 'r': 'ahmed', 1: 2, 'aa': 'M'}

In [356]:
d.update({'r':100})
d

{'a': 'M', 'r': 100, 1: 2, 'aa': 'M'}

In [357]:
d.update({'R':100})
d

{'a': 'M', 'r': 100, 1: 2, 'aa': 'M', 'R': 100}

In [358]:
d.popitem()
d

{'a': 'M', 'r': 100, 1: 2, 'aa': 'M'}

In [359]:
d.pop('a')

'M'

In [360]:
d

{'r': 100, 1: 2, 'aa': 'M'}

In [361]:
d.clear()

In [362]:
d

{}

In [363]:
del d

In [364]:
d

NameError: name 'd' is not defined

In [365]:
d = {'a':10, 'b': {'c':30, 'e': {1:10, 2:20}  }   }
d

{'a': 10, 'b': {'c': 30, 'e': {1: 10, 2: 20}}}

In [366]:
d['b']

{'c': 30, 'e': {1: 10, 2: 20}}

In [369]:
d['b']['e'][2]

20

In [370]:
x = 10
if x>5:
    print('Ok')
    aa
    aaa
    aad
    d
    ddd

else:
    print('Not')

Ok

In [373]:
x = 5
if x>5:
    if x>7:
        print('>6')
    else:
        print('<6')
else:
    print('Not')

Not

In [378]:
x = 5
if x>5:
    print('>5')
elif x<5:
    print('<5')
elif x==5:
    print('==5')
else:
    print('Not')

==5

In [379]:
x = 5

if x==5:
    print('==5')
if x>2:
    print('>2')
if x>3:
    print('>3')
elif x>5:
    print('>5')
else:
    print('Not')

==5
>2
>3

In [380]:
if x==5: print('==5')

==5

In [384]:
if x==5: 
    print('==5')
else:
    print('Not')

==5

In [385]:
if x==5:
    print('==5')
else:
    if x>5:
        print('>')
    else:
        print('Not')

==5

In [387]:
print('==5') if x>5 else print('>5') if x>5 else print('Not')

Not

In [389]:
a = 10
b = 20
if a>2 or b >3:
    print('Ok')
else:
    print("Not")

Ok

In [391]:
if x==5:
    pass

In [392]:
i = 5
while i>1:
    print(i)
    i  -= 1

5
4
3
2

In [4]:
i = 5
while i>1:
    i -= 1
    #print(i)
    if i==2:
        continue
    print(i)

4
3
1

In [ ]:
5
4
3
2

In [7]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [10]:
x = int(input("Please Enter your number"))
x

Please Enter your number10

10

In [11]:
type(x)

int

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
x = 'Ahmed'
for i in x:
    print(i)

A
h
m
e
d

In [14]:
x = [1,2,3,4,5]
for i in x:
    print(i)

1
2
3
4
5

In [15]:
for i in x:
    print(x.index(i))

0
1
2
3
4

In [17]:
x = (1,2,3)
for i in x:
    print(x)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [24]:
d = {'a':10, 'b':30}

for i in d.items():
    print(i)

('a', 10)
('b', 30)

In [26]:
x = [1,2,3,4,10]
for i in x:
    if i==3:
        continue
    print(i)

1
2
4
10

In [27]:
x = [1,2,3,4,10]
for i in x:
    if i==3:
        break
    print(i)

1
2

In [31]:
for i in range(3,6):
    print(i)

3
4
5

In [36]:
for i in range(2,10,2):
    print(i)
else:
    print('Your loop is finished')

2
4
6
8
Your loop is finished

In [37]:
for i in range(5):
    for j in range(5,10):
        print(i,j)

0 5
0 6
0 7
0 8
0 9
1 5
1 6
1 7
1 8
1 9
2 5
2 6
2 7
2 8
2 9
3 5
3 6
3 7
3 8
3 9
4 5
4 6
4 7
4 8
4 9

In [ ]:
User Email ==> @nti.com ==> welcome, loop 
user Password ==> ok ==> loop

In [42]:
x = [1,2,3,4,5]
y = [i for i in x ]

In [43]:
y

[1, 2, 3, 4, 5]

In [44]:
x = [1,2,3,4,5]
y = [i for i in x if i%2==0]
y

[2, 4]

In [45]:
print(10)

10

In [46]:
print(10)
print(20)

10
20

In [51]:
print(10, end='\')
print(20)

10\20

In [53]:
print(10,20,30, sep='*')

10*20*30

In [55]:
print(10,20,30, sep='*', end='*')
print(100)

10*20*30*100

In [ ]:
10*20*30*100

In [56]:
# comment

In [58]:
# C1
# C2
# C3
# C4

In [ ]:
"""
c1
s2
d
d
d
d
dd
d

""""

In [59]:
x = 10
x = 'ahmed'
x = 0
x = 10.5

In [60]:
print(x)

10.5

In [61]:
x = 10,20,30
x

(10, 20, 30)

In [62]:
x = y= z = 10

In [63]:
print(x,y,z)

10 10 10

In [65]:
x,y,z = 10,20,30

In [66]:
print(x,y,z)

10 20 30

In [67]:
1x

SyntaxError: invalid syntax (<ipython-input-67-b994eeea9273>, line 1)

In [68]:
$x

SyntaxError: invalid syntax (<ipython-input-68-eb007414edde>, line 1)

In [69]:
x

10

In [71]:
-x

-10

In [72]:
x y = 10

SyntaxError: invalid syntax (<ipython-input-72-c639170a2ce7>, line 1)

In [73]:
x_Y = 10

In [74]:
xY = 10

In [76]:
x = 10
X = 20
print(X)

20

In [83]:
x = -10152294645999999999999999999

In [84]:
print(type(x))

<class 'int'>

In [89]:
y = 10.
type(y)

float

In [90]:
y

10.0

In [94]:
y = 5.
type(y)

float

In [105]:
z = 10 + 5j + 5
type(z)

complex

In [113]:
x = int(input("Please Enter Your Number"))
print(x)
print(type(x))

Please Enter Your Number10
10
<class 'int'>

In [109]:
x = 10.7
int(x)

10

In [110]:
x = '10'
int(x)

10

In [111]:
float(x)

10.0

In [114]:
complex(x)

(10+0j)

In [115]:
a = 'a'
type(a)

str

In [116]:
a = 'ahmed'
b = "ahmed"
c = ''' ahmed '''
d = """ahmed """
print(type(a), type(b), type(c), type(d))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [ ]:
ahmed
01234

In [117]:
a[0]

'a'

In [118]:
a[1]

'h'

In [119]:
a[2]

'm'

In [120]:
a[3]

'e'

In [121]:
a[4]

'd'

In [122]:
a[5]

IndexError: string index out of range

In [123]:
len(a)

5

In [ ]:
a[ from : to ]

In [124]:
a[0:2]

'ah'

In [125]:
a[0:1]

'a'

In [126]:
a[0:3]

'ahm'

In [128]:
a[0:6]

'ahmed'

In [127]:
a[6]

IndexError: string index out of range

In [129]:
a[3:7]

'ed'

In [130]:
a[3:4]

'e'

In [131]:
a[3:5]

'ed'

In [132]:
a[5]

IndexError: string index out of range

In [ ]:
       -5 -4 -3 -2 -1

In [133]:
a[-1]

'd'

In [136]:
a[-1:-3]

''

In [134]:
a[0:3]

'ahm'

In [ ]:
ahmed
01234

In [135]:
a[3:0]

''

In [ ]:
emha

In [137]:
a[-3:-1]

'me'

In [138]:
a[-4:-3]

0  1  2  3  4
-5 -4 -3 -2 -1

'h'

In [140]:
a[0:-3]

'ah'

In [139]:
a[-5:-3]

'ah'

In [141]:
a[0:2]

'ah'

In [142]:
a[3:-4]

''

In [ ]:
ahmed

In [143]:
a[3]

'e'

In [144]:
a[3]='r'

TypeError: 'str' object does not support item assignment

In [145]:
a.upper()

'AHMED'

In [146]:
a.lower()

'ahmed'

In [147]:
a.capitalize()

'Ahmed'

In [150]:
a.count('r')

0

In [151]:
a.startswith('a')

True

In [152]:
a.startswith('A')

False

In [153]:
a.endswith('d')

True

In [154]:
a.endswith('D')

False

In [155]:
a.isdecimal()

False

In [156]:
a.isdigit()

False

In [157]:
a.isnumeric()

False

In [158]:
"123".isdigit()

True

In [163]:
"1.2".isdigit()

False

In [164]:
a.islower()

True

In [165]:
a.isupper()

False

In [171]:
b = a.replace('h','H')

In [173]:
b

'aHmed'

In [176]:
a.find('H')

1

In [180]:
a.index('a')

0

In [184]:
"    a   aa     ".strip()

'a   aa'

In [185]:
a

'aHmed'

In [188]:
b = a.lower()

In [189]:
b

'ahmed'

In [190]:
b.islower()

True

In [197]:
print(str(10) + ' welcome '  + 'b')

10 welcome b

In [198]:
print(str(10) + str(20))

1020

In [200]:
print(' I"m ')

 I"m

In [203]:
print('I \' m ')

I ' m

In [206]:
print('I \\\' m ')

I \' m

In [213]:
name = input("Please enter your name")
age = input("Please enter your age")
cl = input("Please enter your class")

y = "welcome {0}, age {1}, class {2}"

print(y.format(name, age, cl))

Please enter your namerr
Please enter your age90
Please enter your class6
welcome rr, age 90, class 6

In [218]:
y = "welcome " + name +   ", age " + age + ", class " + cl

In [219]:
y

'welcome rr, age 90, class 6'

In [220]:
True

True

In [221]:
False

False

In [222]:
2>1

True

In [223]:
2==2

True

In [224]:
bool(0)

False

In [225]:
bool(1)

True

In [226]:
bool(2)

True

In [227]:
bool("")

False

In [228]:
bool(" ")

True

In [240]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)
print(2%2)
print(2**2) # Expon
print(2**3) # Expon
print(2**4) # Expon
print(5/2)
print(5//2) # Floor dev

4
0
4
1.0
0
4
8
16
2.5
2

In [242]:
print(5.5//2)

2.0

In [243]:
print(2*2.5)

5.0

In [250]:
x = 10

x += 5 # x = x+5
x -= 5
x *= 5
x /= 5
x //= 5
print(x)

2.0

In [252]:
print(2**2**3)
print(2**1**3**2)

256
2

In [254]:
print(2>3)
print(2==2)
==
>
>=
<
<=
!=

False
True

In [286]:
(3>2) and (3==2)
(3>2) or (3==2)
(3==2)
not(3==2)
1 or 0
0 or 1
1 or 1
0 or 0

1 and 1
1 and 0
0 and 1
0 and 0


2 and 1
10 and 5
20 and 3


1 or 0

2 or 3
10 or 3
20 or 1
1 or 20

20 and 1

'a' or 'bbbb'

'' and 'aa'

''

In [296]:
2 == 2
2 == 2.0
2 == 2.


2 is 2.0
2 is 2
2. is 2
2.0 is 2.

2 is not 2

False

In [306]:
a = "Welcome NTI"
a

'e' in a
'E' in a

a.find('E')

'n' in a
'n' not in a

True

In [ ]:
& 
|
~

In [308]:
0 & 1

0

In [310]:
2 and 3
2&3

      64 32 16 8 4 2 1 
                   1 0    &
                   1 1 
                   1 0
                   1 1

2

In [ ]:
2 and 3
2&3

      64 32 16 8 4 2 1 
                   1 0 
                 1 0   
               1 0

In [311]:
2|3

3

In [313]:
2<<2

8

In [316]:
16>>3
2>>2
5>>2

1

In [317]:
print(2*3+1**2//7)

6

In [ ]:
++i
--

In [ ]:
print(6+0)

In [342]:
x = [1,2,3,4,5, 1.5,1.2, "a", "ahmed", True, False]

type(x)
len(x)
x
x[0]
x[6]
x[8]
x[10]
#x[11]

x[-1]
len(x)
x[len(x)-1]
x[0:2]
x[-1:-3]
x.append(100)
x
x.insert(0, 0)
x
x.insert(0,"aaaa")
x
x.extend([10])
x
x.append([10])
x
x.append([10,20,30,[1,2,3,[4,5,6]]])
x

['aaaa',
 0,
 1,
 2,
 3,
 4,
 5,
 1.5,
 1.2,
 'a',
 'ahmed',
 True,
 False,
 100,
 10,
 [10],
 [10, 20, 30, [1, 2, 3, [4, 5, 6]]]]

In [343]:
x[-1][3]

[10, 20, 30, [1, 2, 3, [4, 5, 6]]]

In [344]:
x[-1][3]

[1, 2, 3, [4, 5, 6]]

In [345]:
x[-1][3][3]

[4, 5, 6]

In [346]:
x[-1][3][3][2]

6

In [348]:
x[0]="opp"
x

['opp',
 0,
 1,
 2,
 3,
 4,
 5,
 1.5,
 1.2,
 'a',
 'ahmed',
 True,
 False,
 100,
 10,
 [10],
 [10, 20, 30, [1, 2, 3, [4, 5, 6]]]]

In [351]:
x.pop()
x

ValueError: list.remove(x): x not in list

In [352]:
x

['opp', 0, 1, 2, 3, 4, 5, 1.5, 1.2, 'a', True, False, 100]

In [353]:
del x[0]
x

[0, 1, 2, 3, 4, 5, 1.5, 1.2, 'a', True, False, 100]

In [354]:
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [357]:
x = [9,8,1,10,20]
x.sort()
x
x.reverse()
x
x.sort(reverse=True)

[20, 10, 9, 8, 1]

In [358]:
x.reverse()

In [391]:
x = [1,2,3,4]
x[:]
y1 = x[:]
y1
y2 = x.copy()
y3 = list(x)
y4 = x

In [392]:
y4.append(20)
y4

[1, 2, 3, 4, 20]

In [393]:
x

[1, 2, 3, 4, 20]

In [390]:
print(y4)

None

In [387]:
x

[1, 2, 3, 4]

In [378]:
x

[1, 2, 3, 4]

In [366]:
x.append(100)
x

[1, 8, 9, 10, 20, 100]

In [368]:
print(y1)
print(y2)
print(y3)
print(y4)

[1, 8, 9, 10, 20, 100]
[1, 8, 9, 10, 20, 100]
[1, 8, 9, 10, 20, 100]
[1, 8, 9, 10, 20, 100]

In [369]:
x.index(1)

0

In [370]:
x.count(10)

1

In [371]:
z = x+y
z

[1, 8, 9, 10, 20, 100, 1, 8, 9, 10, 20, 100]

In [372]:
x.clear()

In [373]:
x

[]

In [374]:
del x
x

NameError: name 'x' is not defined

In [396]:
x = (1,2,3,4,5)
type(x)
x[0]

1

In [403]:
x = (1,2,3,4)
type(x)

tuple

In [404]:
x.insert(0,10)

AttributeError: 'tuple' object has no attribute 'insert'

In [431]:
# python: OOP, Functional 

x = []
x = ()

x = {'python':'OOP, Functional', 1:"C++", 2:20, 3:40, 2:"10,20,ahmed, m"}
x
type(x)
x['python']
x.keys()
x.values()
x.items()
x[2]
x.get(2)
x['python']='Easy than c++'
x
x['Python']='Easy than c++'
x
x['Python'] = 30
x
x.update({1:50})
x
x.update({11:500})
x
x.popitem()
x
x.pop('python')
x
x.update({4: {5:{6:70}}   })
x

{1: 50, 2: '10,20,ahmed, m', 3: 40, 'Python': 30, 4: {5: {6: 70}}}

In [432]:
x[4]

{5: {6: 70}}

In [433]:
x[4][5]

{6: 70}

In [434]:
x[4][5][6]

70

In [414]:
"oop"

'oop'

In [419]:
d = x[20]
d[0:5]

'10,20'

In [421]:
x = 10
x = 20
print(x)

20

In [ ]:
if 
else
elif

In [ ]:
x = 10
if x>5:
    ff
    f
    fd
    d
    
    d
    d
    d
else:

In [436]:
x=10
if x>5:
    print('>5')
else:
    print("Not")

>5

In [439]:
x = 5
if x>5:
    print('>5')
elif x<5:
    print('<5')
elif x==5:
    print('==')
else:
    print('not')

==

In [442]:
x = 5
if x>5:
    print('>5')
if x==5:
    print('ok')
if x<=3:
    print('>=5')
elif x<5:
    print('<5')
elif x==5:
    print('==')
else:
    print('not')

ok
==

In [ ]:
and or not

In [445]:
a = 5
b = 10
if a>3 or b ==11:
    print('ok')
else:
    print('not')

ok

In [447]:
if x>5: print('ok')

In [452]:
x =2
print('>') if x>5 else print('<') if x<5 else print('==') if x==5 else print('Not')

<

In [ ]:
x =2
print('>') if x>5 

else
{
     print('<') if x<5 else {
          print('==') if x==5 else print('Not')
     }
}

In [457]:
x = 7
if x>5:
    if x>6:
        if x>7:
            print('>7')
        else:
            print("Not >7")
    else:
        print("not >6")
else:
    print("Not >5")

Not >7

In [458]:
i =1
while i<5:
    print(i)
    i +=1

1
2
3
4

In [460]:
i =1
while i<5:
    print(i)
    i +=1
    if i==3:
        break

1
2

In [ ]:
i = 1
while True:
    print('ok')
    if i==

In [ ]:
User username @nti.com
user password == var  ==> welcome 
invalid 
please enter valid username and password

In [463]:
i =1
while i<5:
    #print(i)
    i +=1
    if i==3:
        continue
    print(i)

2
4
5

In [465]:
i =1
while i<5:
    #print(i)
    i +=1
    if i==4:
        continue
    print(i)

2
3
5

In [466]:
i =1
while i<5:
    #print(i)
    i +=1
    if i==4:
        continue
    print(i)
else:
    print("You reached to the final step")

2
3
5
You reached to the final step

In [467]:
for i in range(5):
    print(i)

0
1
2
3
4

In [468]:
for i in range(2, 5):
    print(i)

2
3
4

In [469]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [470]:
x = [1,2,3]
for i in x:
    print(i)

1
2
3

In [ ]:
x = [1,2,3]
for i in x:
    #print(x.index(i))
    x.append(int(10.5))

In [3]:
x = [1,2,3,4]
for i in range(0, len(x), 2):
    print(x[i])

1
3

In [9]:
d = {1:2, 2:3}
for i in d.keys():
    print(i)
else:
    print("welcome")

1
2
welcome

In [7]:
d.values()

dict_values([2, 3])

In [12]:
for i in range(10):
    pass

In [13]:
if 2>3:
    pass

In [15]:
x = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
even = [2,4,6,8,10]

In [16]:
even = []
for i in x:
    if i%2==0:
        even.append(i)
even

[2, 4, 6, 8, 10]

In [18]:
even = [i for i in x if i%2==0]
even

[2, 4, 6, 8, 10]

In [ ]:
even = [i for i in A if i%2==0]
even

In [ ]:
even = [i for i in B if i%2==0]
even

In [ ]:
even = []
for i in x:
    if i%2==0:
        even.append(i)
even

even = []
for i in A:
    if i%2==0:
        even.append(i)
even

even = []
for i in B:
    if i%2==0:
        even.append(i)
even

In [19]:
def my_func():
    print("Ahmed")

In [20]:
my_func()

Ahmed

In [22]:
def my_func():
    pass

In [23]:
def my_func1():
    print(1)
    print(2)
    print(3)

In [25]:
x = my_func1()

1
2
3

In [26]:
y = my_func1()

1
2
3

In [27]:
z = my_func1()

1
2
3

In [32]:
def func(name):
    print("welcome " + name)
    
func("Ahmed")
x = func("Mohamed")

welcome Ahmed
welcome Mohamed

In [36]:
def fun_name(fname, lname):
    print("welcome "+ fname + " " + lname)

In [37]:
fun_name("ahmed", "Mohamed")

welcome ahmed Mohamed

In [56]:
def func(*name):
    print("welcome " + name[0] + name[1]+ name[2])

In [57]:
func("ahmed", "mohamed", "ahmed")

welcome ahmedmohamedahmed

In [58]:
func("ahmed", "mohamed", "ahmed", "aa", "aaww")

welcome ahmedmohamedahmed

In [59]:
x = func("ahmed", "mohamed", "ahmed", "aa", "aaww")

welcome ahmedmohamedahmed

In [60]:
type(x)

NoneType

In [61]:
def my_func(fname, lname):
    print(fname + lname)

In [63]:
my_func(fname = 'ahmed', lname = 'mohamed')

ahmedmohamed

In [64]:
my_func(lname = 'ahmed', fname = 'mohamed')

mohamedahmed

In [72]:
def func(**name):
    print("welcome " + name['lname']+ name['fname'])

In [73]:
age = int(age)
func(fname = 'ahmed', lname=lname, age=age, class_no="5")

welcome mohamedahmed

In [76]:
def my_fun(name='ahmed'):
    print(name)

In [78]:
my_fun("mmmm")

mmmm

In [84]:
def fun_list(x):
    for i in x:
        if i%2==0:
            print(i)
    

fun_list([10,20,3])
fun_list([1,2,3,4,5,6])

10
20
2
4
6

In [92]:
def return_fun(x, y):
    z = x+y
    return z+x

    
    
return_fun(10,20)
5
5*4*3*2*1

40

In [99]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(k)
  else:
    result = 0
  return result

In [100]:
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
2
3
4
5
6

21

In [ ]:
6+5+4+3+2+1
1
2
3
4
5
6

1
3
6
10
15
21

In [102]:
x = lambda a : a+5
print(x(10))

15

In [103]:
y = lambda a,b : a+b
print(y(10,20))

30

In [104]:
z = lambda a,b,c: a+b+c
print(z(1,2,3))

6

In [107]:
def my_fun(x):
    return lambda a: a*x
y = my_fun(10)
y(5)

50

In [112]:
def func(grade):
    return lambda a,b,c: a*b*c*grade
x = func(10)
x(1,2,3)

60

In [110]:
print(x)

<function func.<locals>.<lambda> at 0x0000025D0E984CA8>

In [114]:
x = 10
x1 = 20
x3 = 30
x4 = 10.5 

print(type(x))

<class 'int'>

In [119]:
class my_class:
    print(10)
    x = 20
    y = 30
    z = 40

10

In [120]:
obj = my_class()

In [118]:
obj.

20

In [121]:
obj2 = my_class()

In [122]:
obj2.y

30

In [123]:
obj3 = my_class()

In [124]:
obj3.z

40

In [ ]:
class my_classs(name, age):
    this

In [142]:
class my_class:
    def __init__(ss,name, age):
        ss.fname= name
        ss.age = age
    def func(ss):
        print(ss.name)
    def age_fun(ss):
        print(ss.age)

In [143]:
obj = my_class("ahmed", 10)

In [144]:
obj.name

'ahmed'

In [145]:
obj.func()

ahmed

In [146]:
obj.age_fun()

10

In [148]:
obj2 = my_class(10,20)

In [149]:
a = my_class(1,2)

In [150]:
a.name

1

In [151]:
a.age

2

In [153]:
a.age_fun()

2

In [154]:
a.age = 20

In [155]:
a.age

20

In [156]:
a.name='ahmed'

In [157]:
a.name

'ahmed'

In [158]:
del a.age

In [160]:
a.name

'ahmed'

In [161]:
del a

In [162]:
class my_class:
    pass

In [163]:
class my_class:
    def __init__(ss,name, age):
        ss.fname= name
        ss.age = age
    def func(ss):
        print(ss.name)
    def age_fun(ss):
        print(ss.age)

In [200]:
class parent:
    def __init__(self, name, age):
        self.name= name
        self.age = age
    def prage(self):
        print(self.age)
    def prname(self):
        print("print name parent calss")
        print(self.name)

In [210]:
x1 = parent('ahmed', 10)
x1.prage()
x1.prname()

10
print name parent calss
ahmed

In [208]:
class child(parent):
    def __init__(self, name, age, year):
        super().__init__(name,age)
        self.year = year
    def pryear(self):
        print(self.year)
    def prname(self):
        #super().prname()
        print(self.name + "oooo") 
    def fullname(self, childname):
        self.childname=childname
        print(self.name +  self.childname )

In [212]:
class child2(child):
    pass
x4 = child2('Omar', 10, 2019)
x4.name

'Omar'

In [209]:
x3 =  child('Ahmed ', 2, 2023)
x3.prname()

print name parent calss
Ahmed
Ahmed oooo

In [170]:
x2 = child("Mohamed", 20)
x2.prname()

Mohamed

In [214]:
# program to illustrate private access modifier in a class

class Geek:
	
	# private members
	__name = None
	__roll = None
	__branch = None

	# constructor
	def __init__(self, name, roll, branch):
		self.__name = name
		self.__roll = roll
		self.__branch = branch

	# private member function
	def __displayDetails(self):
		
		# accessing private data members
		print("Name: ", self.__name)
		print("Roll: ", self.__roll)
		print("Branch: ", self.__branch)
	
	# public member function
	def accessPrivateFunction(self):
			
		# accessing private member function
		self.__displayDetails()

In [219]:
# creating object
obj = Geek("R2J", 1706256, "Information Technology")
obj.accessPrivateFunction()

Name:  R2J
Roll:  1706256
Branch:  Information Technology

In [ ]:
# calling public member function of the class
obj.accessPrivateFunction()

In [220]:
# program to illustrate protected access modifier in a class
# super class
class Student:
	# protected data members
	_name = None
	_roll = None
	_branch = None
	# constructor
	def __init__(self, name, roll, branch):
		self._name = name
		self._roll = roll
		self._branch = branch
	# protected member function
	def _displayRollAndBranch(self):
		# accessing protected data members
		print("Roll: ", self._roll)
		print("Branch: ", self._branch)
# derived class
class Geek(Student):
	# constructor
	def __init__(self, name, roll, branch):
				Student.__init__(self, name, roll, branch)
	# public member function
	def displayDetails(self):
				# accessing protected data members of super class
				print("Name: ", self._name)
				# accessing protected member functions of super class
				self._displayRollAndBranch()

In [224]:
# creating objects of the derived class	
obj = Geek("R2J", 1706256, "Information Technology")
obj._name

'R2J'

In [225]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")
  def welcome(self):
    print("welcome")
    

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

In [226]:
car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [227]:
x = 10
x = 5
print(x)

5

In [232]:
passw = 10
def my_fun():
    print(passw)
my_fun()

10

In [233]:
print(passw)

10

In [235]:
def my_fun():
    global passw1
    passw1 = 10
    print(passw1)
my_fun()

10

In [236]:
print(passw1)

10

In [237]:
class myclass:
    pass

In [ ]:
import python 
python.my_fun()

In [ ]:
import math    math.sqrt(4)
import math as mt   mt.sqrt(4)
from math import sqrt   sqrt()
from math import *      sqrt(), (),

In [238]:
import datetime

In [239]:
datetime.datetime.now()

datetime.datetime(2023, 7, 4, 13, 53, 50, 412203)

In [245]:
x = datetime.datetime.now()
x.day
x.month
x.year

2023

In [249]:
print(x.strftime("%A"))

Tuesday

In [247]:
x.day

4

In [253]:
print(x.strftime("%Y"))

2023

In [254]:
print(x.strftime("%y"))

23

In [255]:
print(x.strftime("%H"))

13

In [256]:
print(x.strftime("%I"))

01

In [257]:
print(x.strftime("%B"))

July

In [258]:
import re

In [280]:
txt = "aaaaaaaaaa*"
x = re.search("a*", txt)
x

In [281]:
txt = "aaaaaaaaaa*"
x = re.search("a", txt)
x

In [269]:
type(x)

re.Match

In [282]:
var = "The rain in Spain"
x = re.findall("aii", var)
print(x)

[]

In [273]:
type(x)

list

In [ ]:
"a*"
{"",a,aa,aaa,aaaa,aaaa,aaaaa,aaaaaa,a,aaaaa}

In [283]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [286]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x)

The first white-space character is located in position: <re.Match object; span=(0, 0), match=''>

In [290]:
txt = "The rain in Spain"
x = re.split("\s", txt, 3)
print(x)

['The', 'rain', 'in', 'Spain']

In [293]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [295]:
f = open("NTIG3.txt", "r")
print(f.read())

aaadd
aaa
asd

In [296]:
print(f.readline())

In [297]:
for i in f:
    print(i)

In [298]:
f = open("NTIG3.txt", "a")
f.write("Now the file has more content!")
f.close()

In [302]:
f = open("NTIG3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

In [304]:
import os
os.remove("demofile3.txt")

In [305]:
print(aa)

NameError: name 'aa' is not defined

In [312]:
try:
    print(1/0)
except NameError:
    print("aa is not defined")
except ZeroDivisionError:
    print("/0")
except:
    print("error")

/0

In [311]:
1/0

ZeroDivisionError: division by zero

In [313]:
x = [1,2,3,4,5,6,7,8,9,10]
even = []
for i in x:
    if i%2==0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10]

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]
even = []
for i in x:
    if i%2==0:
        even.append(i)
print(even)

x = [1,2,3,4,5,6,7,8,9,10]
even = []
for i in x:
    if i%2==0:
        even.append(i)
print(even)

x = [1,2,3,4,5,6,7,8,9,10]
even = []
for i in x:
    if i%2==0:
        even.append(i)
print(even)

In [ ]:
def my_fun():
    aa
    sss
    
    d
    ddd
aaa

In [321]:
def my_fun(fname, lname):
    print(fname + lname)

In [325]:
my_fun(lname = "mohamed", fname = 'ahmed')

ahmedmohamed

In [317]:
x = my_fun()
x2 = my_fun()
x3= my_fun()
x4 = my_fun()

10
10
10
10

In [327]:
def my_func(name, age, class_nu):
    print(name, age, class_nu)

my_func('ahmed')

TypeError: my_func() missing 2 required positional arguments: 'age' and 'class_nu'

In [331]:
def my_func(*name):
    print(name[0], name[1], name[2])

my_func('ahmed', 'mohamed', 'ali','aaa','ddddd')

ahmed mohamed ali

In [ ]:
x = (1,2,3)
x[0]

In [338]:
def my_fun2(name='ahmed', age=20, class_no=3):
    print(name, age, class_no)
my_fun2('Mohamed', 40,6)

Mohamed 40 6

In [347]:
def my_fun5(**name):
    print(name['fname'])

    
my_fun5(fname = 'ahmed', lname='Mohamed')

ahmed

In [351]:
def my_fun5(*name):
    print(name[0])

    
my_fun5(10,20,30,40,50)

10

In [361]:
x = [1,2,3,4,5,6,7,8,9,10]
y = []
def my_list(ls):
    for i in ls:
        if i%2==0:
            print('even', i)
            y.append(i)
    print(y)

In [362]:
my_list(x)

even 2
even 4
even 6
even 8
even 10
[2, 4, 6, 8, 10]

In [364]:
def fun_return(x):
    return x
x = fun_return(10)

In [365]:
x

10

In [ ]:
6
6 + call function(6-1) 
1
2
3
4
5
6


1 +2 = 3+3 = 6+4 = 10+5=15 +6 = 21 
6
6*5*4*3*2*1

In [370]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
0
0
0
0
0
0

0

In [372]:
def tri_recursion(k):
  if(k > 1):
    result = k * tri_recursion(k - 1)
    print(result)
  else:
    result = 1
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
2
6
24
120
720

720

In [375]:
def my_func(name='ahmed', age, class_nu):
    print(name, age, class_nu)

my_func('ahmed', 10)

ahmed 10 2

In [376]:
x = [1,2,3,4,5]
x[0:2]

[1, 2]

In [377]:
x[0]

1

In [379]:
for i in x:
    print(x[i-1])

1
2
3
4
5

In [383]:
x = lambda a: a+10
x(10)

20

In [385]:
x = lambda a,b: a+b
x(10,20)

x = lambda a,b,c,d,e: a+b+c+d+e
x(10,20,30,40,50)

150

In [386]:
y = lambda a: a+5
y(5)

10

In [389]:
def my_lam(x):
    return lambda a: a+x

z = my_lam(10)
z(20)

30

In [391]:
def my_lam(x):
    return lambda a,b,c: a+x+b+c

z = my_lam(10)(1,2,3)

In [392]:
z

16

In [394]:
def my_l2(x):
    return lambda a: x+a
z = my_l2(10)(20)
z

30

In [430]:
class student:
    def __init__(self, name, age, cl=2):
        self.name = name
        self.age = age
        self.cl = cl
    def printName(self, x):
        print(self.name, x)
    def printAge(self):
        print(self.age)

obj1 = student('ahmed', 10,2)

In [432]:
obj2 = student('m',100)
obj2.name

'm'

In [418]:
obj1.printName(10)

ahmed 10

In [421]:
obj1.printAge()
obj1.name= 'Mohamed'
obj1.name

10

'Mohamed'

In [422]:
del obj1.name

In [423]:
obj1.name

AttributeError: 'student' object has no attribute 'name'

In [424]:
del obj1

In [485]:
class parent:
    def __init__(self, name, age):
        self.name= name
        self.__age = age
    def pAge(self):
        print(self.__age)
    def pName(self):
        print(self.name)
    def pp(self):
        print('welocme to parent class')

class child(parent):
    def __init__(self, name, age, cl_N):
        #parent.__init__(self, name, age)
        super().__init__( name, age)
        self.cl_N= cl_N
    def pp(self):
        super().pp()
        #parent.pp(self)
        print("welcome to child class")
    def pCL(self):
        print(self.cl_N)

In [487]:
p2 = parent('e', 4)
p2.name
p2.__age

AttributeError: 'parent' object has no attribute '__age'

In [438]:
p1 = parent('s', 30)
p1.name
p1.age
p1.pAge()
p1.pName()

30
s

In [479]:
c1 = child('d', 5, 1)

c1.pp()

welocme to parent class
welcome to child class

In [449]:
x = 10
x = 5
print(x)

5

In [488]:
0b101011000

344

In [494]:
def my_fun(xp):
    print(xp)

In [495]:
my_fun(10)
print(xp)

10

NameError: name 'xp' is not defined

In [500]:
xo = 5
def mm():
    #xo = 5
    print(xo)
mm()

5

In [501]:
xo

5

In [502]:

def mm():
    global xoo
    xoo = 5
    print(xo)
mm()

5

In [503]:
xoo

5

In [509]:
import math 
math.sqrt(4)

import math as mt 
mt.sqrt(4)

from math import sqrt, sin, cos, cosh
sqrt(4)

from math import *
sqrt(4)

2.0

In [512]:
import datetime
x = datetime.datetime.now()
x
x.day

datetime.datetime(2023, 7, 4, 20, 46, 40, 820047)

In [518]:
x.day
x.month
x.year
x.hour
x.second
x.microsecond

820047

In [519]:
print(x.strftime("%A"))

Tuesday

In [528]:
print(x.strftime("%B"))
print(x.strftime("%Y"))
print(x.strftime("%H"))
print(x.strftime("%I"))
print(x.strftime("%S"))
print(x.strftime("%b"))
print(x.strftime("%M"))
print(x.strftime("%f"))

July
2023
20
08
40
Jul
46
820047

In [ ]:
NLP

In [543]:
import re
txt = "The rain in Spain"
x = re.search("a.*i", txt)
print(x)

<re.Match object; span=(5, 16), match='ain in Spai'>

In [ ]:
r()n

In [ ]:
rn
r()n
r(  )n
r(   )n

+
r()n
r(  )n
r(   )n

In [ ]:
e*
{"",a,aa,aaa,aaaa,aaaa}
a+
{a,aa,aaa,aaaa,aaaa}

In [545]:
import re
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [546]:
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [549]:
import re
txt = "The rain in Spain"
x = re.search("R", txt)
print(x)

None

In [559]:
import re
txt = "The rain in Spain"
x = re.split("\s", txt, 4)
print(x)

y = re.sub("\s", ' 5 ', txt, 2)
print(y)

['The', 'rain', 'in', 'Spain']
The 5 rain 5 in Spain

In [563]:
y = re.match("The",  txt)
print(y)

<re.Match object; span=(0, 3), match='The'>

In [570]:
y = re.search("rain",  txt)
print(y.span())
print(y.string)
print(y.group())

(4, 8)
The rain in Spain
rain

In [573]:
print(pr)

NameError: name 'pr' is not defined

In [582]:
1/0

ZeroDivisionError: division by zero

In [591]:
try:
    print(1/0)
except NameError:
    print('Var is not def')
except ZeroDivisionError:
    print('Error 1/0')
except:
    print("Error")
else:
    print('welcome')
finally:
    print("OK")

Error 1/0
OK

In [593]:
f = open("demofile.txt", 'a')

In [594]:
f.write("ajjaslsss")
f.close()

In [597]:
f = open("demofile.txt", 'a')
f.write("This is a text file")
f.close()

In [598]:
f = open("demofile.txt", 'w')
f.write("This is a text file")
f.close()

In [604]:
f = open("demofile.txt", 'r')
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readlines())

This is a text file

This is a text file

This is a text file

This is a text file

This is a text file

['This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file\n', 'This is a text file']

In [605]:
for i in f:
    print(i)

In [607]:
f.close()

In [610]:
f = open("demofile.txt", 'w')
f.write("This is a text file")
f.close()

In [611]:
import os
os.remove("demofile.txt")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'demofile.txt'